<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基于Opc Ua的监控平台</title>
    <script src="webjars/jquery/jquery.js"></script>
    <script src="scripts/js/require.js" charset="utf-8"></script>
    <script src="scripts/vendor/three.js/Three.js"></script>
    <script src="scripts/vendor/three.js/Detector.js"></script>
    <script src="scripts/vendor/three.js/Stats.js"></script>

    <script src="scripts/vendor/threex/THREEx.screenshot.js"></script>
    <script src="scripts/vendor/threex/THREEx.FullScreen.js"></script>
    <script src="scripts/vendor/threex/THREEx.WindowResize.js"></script>
    <script src="scripts/vendor/three.js/OrbitControls.js"></script>
    <script src="scripts/vendor/three.js/TransformControls.js"></script>
    <script src="scripts/vendor/EventDispatcher.js"></script>
    <script src="scripts/js/THREERobot.js"></script>

    <link rel="shortcut icon" href="favicon.ico">
</head>
<body>


<button class="connectServer">连接UA服务器</button>
<button class="createSubscription">订阅关节值</button>
<button class="assignFirst">将任务分配给机器人1</button>
<button class="assignSecond">将任务分配给机器人2</button>

<div id="container">
    <div id="robot1">
        <script type="text/javascript">
            var debug = {}
            requirejs.config({
                baseUrl: '../scripts/js',
                paths: {
                    State: '../vendor/state/State',
                    Kinematic: 'InverseKinematic'
                },
            });

            require(['Hmi'], function (Hmi) {
                let hmi = new Hmi()
            });

        </script>
        <div id="robot1_status" style="float: right; padding-right: 30%">
            <p>机器人1工作状态：</p>
            <label id="robot1_S"; style="color: green; font-weight: bold">正常</label>
            <p>机器人1剩余工作数: </p>
            <label id="robot1_job_num">0</label>
            <br>
            <button class="robot1Fail">机器人1发生故障</button>
        </div>
    </div>

    <div id="robot2">
        <script type="text/javascript">
            var debug = {}
            requirejs.config({
                baseUrl: '../scripts/js',
                paths: {
                    State: '../vendor/state/State',
                    State2: '../vendor/state/State2',
                    Kinematic: 'InverseKinematic'
                },
            });

            require(['Hmi2'], function (Hmi) {
                let hmi2 = new Hmi()
            })
        </script>
        <div id="robot2_status" style="float: right; padding-right: 30%">
            <p>机器人2工作状态：</p>
            <label id="robot2_S"; style="color: green; font-weight: bold">正常</label>
            <p>机器人2剩余工作数: </p>
            <label id="robot2_job_num">0</label>
            <br>
            <button class="robot2Fail">机器人2发生故障</button>
        </div>
    </div>
</div>

</body>
</html>