<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>基于Opc Ua的监控平台</title>
    <script src="webjars/jquery/jquery.js"></script>
    <script src="scripts/js/require.js" charset="utf-8"></script>
    <script src="scripts/vendor/three.js/Three.js"></script>
    <script src="scripts/vendor/three.js/Detector.js"></script>
    <script src="scripts/vendor/three.js/Stats.js"></script>

    <script src="scripts/vendor/threex/THREEx.screenshot.js"></script>
    <script src="scripts/vendor/threex/THREEx.FullScreen.js"></script>
    <script src="scripts/vendor/threex/THREEx.WindowResize.js"></script>
    <script src="scripts/vendor/three.js/OrbitControls.js"></script>
    <script src="scripts/vendor/three.js/TransformControls.js"></script>
    <script src="scripts/vendor/EventDispatcher.js"></script>
    <script src="scripts/js/THREERobot.js"></script>

    <link rel="shortcut icon" href="favicon.ico">
    <style type="text/css">
        li{height:50px;width:50px;background:red;position:absolute;list-style:none;text-align: center;color:white;line-height:50px;}
        #rectangle {
            width: 380px;
            height: 100px;
            border: #4da1f7;
            border-style: dashed;
        }
        #uaStatus {
            width: 50px;
            height: 20px;
            background: red;
        }
    </style>
</head>
<body>

<div id="ua" style="float: left">
    <button class="connectServer">连接UA服务器</button>
    <button class="createSubscription">订阅关节值</button>
    <span>UA服务器连接状态：</span>
</div>
<div id="uaStatus" style="float: left"></div>



<div id="container">
    <div id="order" style="float: right; padding-top: 0px; padding-right: 2%; padding-left: 2%">
        <div id="rectangle">
            <p style="text-align: center; font-family: 微软雅黑; font-size: xx-large">订单管理区</p>
        </div>
        <div id="orderOption" style="padding-top: 10px">
            <span>请选择机器人：</span>
            <select id="selectRobot">
                <option value="1">Robot1</option>
                <option value="2">Robot2</option>
            </select>
            <br>
            <span>请输入任务个数</span>
            <input type="number" id="newJobNumRobot" value=0 />
            <br>
            <button class="assign">下单</button>
        </div>
        <p>订单队列: </p>
        <table id="orderList" border="1">
            <tr>
                <th>订单号</th>
                <th style="width: 180px">下单时间</th>
                <th>机器人号</th>
                <th>任务数量</th>
            </tr>
        </table>

    </div>

    <div id="robot1">
        <script type="text/javascript">
            var debug = {}
            requirejs.config({
                baseUrl: '../scripts/js',
                paths: {
                    State: '../vendor/state/State',
                    Kinematic: 'InverseKinematic'
                },
            });

            require(['Hmi'], function (Hmi) {
                let hmi = new Hmi()
            });

        </script>
        <div id="robot1_status" style="float: right; padding-right: 1%; border-right:3px dashed #00A000">
            <p>机器人1工作状态: </p>
            <label id="robot1_S"; style="color: green; font-weight: bold">正常</label>
            <p>机器人1剩余工作数: </p>
            <ul id="ul1" style="padding-bottom: 100px">
            </ul>

            <button class="robot1Fail">机器人1发生故障/修复故障</button>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>

    <div id="robot2">
        <script type="text/javascript">
            var debug = {}
            requirejs.config({
                baseUrl: '../scripts/js',
                paths: {
                    State: '../vendor/state/State',
                    State2: '../vendor/state/State2',
                    Kinematic: 'InverseKinematic'
                },
            });

            require(['Hmi2'], function (Hmi) {
                let hmi2 = new Hmi()
            })
        </script>
        <div style="float: right; padding-top: 0px; padding-right: 2%; padding-left: 2%">
            <p>已完成订单队列: </p>
            <table id="completedOrderList" border="1">
                <tr>
                    <th>机器人号</th>
                    <th style="width: 236px">完成时间</th>
                    <th>任务数量</th>
                </tr>
            </table>
        </div>
        <div id="robot2_status" style="float: right; padding-right: 1%; border-right:3px dashed #00A000">
            <p>机器人2工作状态：</p>
            <label id="robot2_S"; style="color: green; font-weight: bold">正常</label>
            <p>机器人2剩余工作数: </p>
            <ul id="ul2" style="padding-bottom: 100px">
            </ul>

            <button class="robot2Fail">机器人2发生故障/修复故障</button>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>


</body>
</html>